.header{
    display: flex;
    justify-content: space-between;
    /* height:100px; */
    border: 1px solid black;
    align-items: center;
}
.body{
    margin-top:20px;
}

.logo-container img{
    width:160px;
    height:110px
}

.nav-items > ul{
    display: flex; 
    list-style-type: none;
    padding-right: 20px;
}

.nav-items > ul>li{
    padding:15px;
    font-size: 18px;
}

.res-card{
    width:220px;
    padding:10px;
    margin:15px;
    background-color: #f0f0f0;
}

.res-card:hover{
    border:1px solid lightgrey
}
.res-container{
    /* padding:10px; */
    margin:10px auto;
    display:flex;
    flex-wrap: wrap;
    width:90%
}
.res-image{
    width:100%
}

.shimmer-cont{
 display:flex;
 flex-wrap: wrap;
 margin:10px auto;
 width:75%;
}
.card-shimmer{
    background-color: #f0f0f0;
    height:280px;
    width: 200px;
    /* border:1px solid black; */
    margin: 10px;

    /* weight:200px; */
}